<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ameba.ggn.ez_buzz"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/MyMaterialTheme.Base">
        <activity
            android:name="com.ameba.ggn.ez_buzz.MainActivity"
            android:label="@string/app_name">
        </activity>
        <!--
        <activity
            android:name=".fragments.AddTaskFragment"
            android:label="@string/title_activity_add_task"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        -->
        <activity
            android:name="com.ameba.ggn.ez_buzz.EditTask"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/MyMaterialTheme.Base"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <receiver android:name="com.ameba.ggn.ez_buzz.utillG.CallEndBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ameba.ggn.ez_buzz.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/Theme_DialogAlarm">
        </activity>

        <receiver android:name="com.ameba.ggn.ez_buzz.utillG.AlarmReceiver"/>

        <activity
            android:name="com.ameba.ggn.ez_buzz.AfterCallAddReminder"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.ameba.ggn.ez_buzz.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/MyMaterialTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ameba.ggn.ez_buzz.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/MyMaterialTheme.Base"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="com.ameba.ggn.ez_buzz.ContactsTab">
        </activity>
        <activity
            android:noHistory="true"
            android:name="com.ameba.ggn.ez_buzz.AfterCallActivity"
            android:label=""
            android:theme="@style/Theme_DialogG">
        </activity>
        <activity
            android:name="com.ameba.ggn.ez_buzz.app_intro.ColorAnimation"
            android:noHistory="true">
        </activity>
    </application>

</manifest>
